{% extends 'base.html'%}

{% block title %}
  {% if form.instance.pk %}
    Update {{ form.instance.name }}
  {% else %}
    Add
  {% endif %}
{% endblock %}

{% block body %}
  <div class="jumbotron">
    {% if form.instance.pk %}
      <h3>Update School Detail:</h3>
    {% else %}
      <h3>Enter School Details:</h3>
    {% endif %}
    
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      {% if form.instance.pk %}
        <input type="submit" class='btn btn-warning' value="Update">
        <a href="{% url 'school:detail' pk=form.instance.pk %} ">Cancel</a>
      {% else %}
        <input type="submit" class='btn btn-primary' value="Add">
      <a href="{% url 'school:schools' %} ">Cancel</a>

      {% endif %}
    </form>
  </div>
{% endblock %}