<!DOCTYPE html>
{% extends 'users/base.html' %}
{% load user_extras %}

{% block title %}Users{% endblock %} 

{% block body %}

  <a href="{% url 'users:addUser' %}">Add New User</a>

  <h2>Here is your users...</h2>

  {% if users %}
  <ol>
    {% for user in users %}
    <li>
      <ul>
        <li>First Name: {{ user.first_name | upper }}</li>
        <li>Last Name: {{ user.last_name | title }}</li>
        <li>Email: {{ user.email | only_mail:'gmail' }}</li>
      </ul>
    </li>
    <br />
    {% endfor %}
  </ol>
  {% endif %}

{% endblock %}
